<section class="stats-section section-compact" aria-label="Agency statistics">
  <div class="container">
    <div class="stats-band reveal">
      <div class="row g-4 text-center">
        <div class="col-6 col-lg-3">
          <strong class="counter" data-counter-target="240">0</strong>
          <span>Projects launched</span>
        </div>
        <div class="col-6 col-lg-3">
          <strong class="counter" data-counter-target="68">0</strong>
          <span>Partner brands</span>
        </div>
        <div class="col-6 col-lg-3">
          <strong class="counter" data-counter-target="17">0</strong>
          <span>Industry awards</span>
        </div>
        <div class="col-6 col-lg-3">
          <strong class="counter" data-counter-target="98">0</strong>
          <span>Client satisfaction</span>
        </div>
      </div>
    </div>
  </div>
</section>
